.footer__column-link {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.footer__column-link:hover {
  opacity: 0.75;
}
