.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 9;

  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color:  #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.feynman__link:hover {
  opacity: 0.75;
}
