.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* =========
logo */

.logo {
  width: 183px;

  z-index: 9;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);

  height: 32px;

  position: absolute;
  top: 30px;
  left: 64px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);

  height: 35px;
}

/* =========
header */

.header {
  display: flex;
  align-items: center;

  position: relative;

  background-color: #f2f2f2;

  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

.header__title {
  z-index: 9;

  margin: 0 0 0 64px;
  width: 730px;

  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 9;

  margin: 0;
  width: 388px;

  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.header__link {
  color:  #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  height: 608px;
  width: 765px;

  background-size: contain;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;

  background-color: #2f80ed;

  height: 568px;
  width: 568px;
}

/* =========
description */

.description {
  display: flex;
  justify-content: center;

  padding-top: 100px;
}

/* =========
two-columns */

.two-columns {
  display: flex;
  justify-content: space-between;

  width: 80%;
}

.two-columns__brief {
  color:  #2f80ed;

  width: 175px;
  margin: 0;

  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;

  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 700;
}

/* =========
section-... */

.section-title {
  margin: 0;

  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;

  width: 60%;

  z-index: 9;
}

.section-title_theme_dark {
  color: #fff;
}

.section-subtitle {
  margin: 20px 0 0 0;

  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;

  width: 60%;

  z-index: 9;
}

.section-subtitle_theme_dark {
  color: #fff;
}

/* =========
digits */

.digits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 100px 0;
}

/* =========
table */

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  z-index: 9;

  padding: 0;
  margin: 0;
  width: 1100px;
}

.table__cell {
  list-style: none;

  margin-top: 60px;

  width: 250px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.table__heading {
  margin: 0;

  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}

.table__text {
  margin: 20px 0 0 0;

  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

/* =========
feynman */

.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  background-color: #f2f2f2;

  min-height: 790px;
  padding-top: 100px;
}

.feynman__title {
  width: 648px;
  z-index: 9;

  margin: 0;

  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 700;
}

.feynman__subtitle {
  z-index: 9;

  margin: 70px 0 0 0;

  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 9;

  font-size: 36px;
  line-height: 51px;
  font-weight: 400;

  color:  #2f80ed;
  text-decoration: none;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;

  height: 637px;
  width: 867px;
}

/* =========
kaufman */

.kaufman {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  overflow: hidden;

  padding: 90px 0;

  position: relative;

  background-color: #1f1f1f;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;

  height: 877px;
  width: 877px;

  position: absolute;
  top: 0;
  right: -210px;
}

/* =========
footer */

.footer {
  background-color: #1f1f1f;
  color: #fff;

  min-height: 350px;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;

  display: flex;
  justify-content: center;
}

.footer__author {
  margin: 18px 0;

  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.footer__columns {
  display: flex;
  justify-content: space-between;

  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  margin: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;

  margin: 20px 0 16px;
  padding: 0;
}

.footer__column-link {
  list-style: none;
}

.footer__link {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: #fff;

  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
