@keyframes rotate{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* div, p, h1, h2, h3, h4, img, a, span, ul, li, section {
  border: solid 1px red;
} */

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;

  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.rotation {
  animation: rotate 20s linear infinite;
}

/* =========
logo */

.logo {
  z-index: 9;

  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;

  height: 32px;

  background-image: url(../images/logo_place_header.svg);
}

.logo_place_footer {
  height: 35px;

  background-image: url(../images/logo_place_footer.svg);
}

/* =========
header */

.header {
  display: flex;
  align-items: center;
  position: relative;

  height: 100vh;
  min-height: 600px;
  max-height: 756px;

  background-color: #f2f2f2;
  overflow: hidden;
}

.header__title {
  z-index: 9;

  width: 730px;
  margin: 0 0 0 64px;

  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 9;

  width: 388px;
  margin: 0;

  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.header__link {
  color:  #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.header__link:hover {
  opacity: 0.75;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  height: 608px;
  width: 765px;

  background-size: contain;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;

  height: 568px;
  width: 568px;

  background-color: #2f80ed;
}

/* =========
description */

.description {
  display: flex;
  justify-content: center;

  padding-top: 100px;
}

/* =========
two-columns */

.two-columns {
  display: flex;
  justify-content: space-between;

  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;

  color:  #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;

  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 700;
}

/* =========
section-... */

.section-title {
  z-index: 9;

  width: 60%;
  margin: 0;

  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
}

.section-title_theme_dark {
  color: #fff;
}

.section-subtitle {
  z-index: 9;

  width: 60%;
  margin: 20px 0 0 0;

  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.section-subtitle_theme_dark {
  color: #fff;
}

/* =========
techniques */

.techniques {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto;
  padding-top: 100px;
  width: 80%;
}

.cards {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  width: 920px;
}

.cards__item {
  margin-right: 100px;
  width: min-content;

  list-style: none;
}

.cards__item:nth-of-type(3) {
  margin-right: 0;
}

.cards__image {
  margin: 60px 40px 0;
  height: 160px;
  width: 160px;

  border-radius: 50%;
}

.cards__title {
  margin: 43px 0 0 0;

  text-align: center;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}

.cards__description {
  margin: 16px 0 0 0;

  text-align: center;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

/* =========
video */

.video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-top: 100px;
}

.video__iframes {
  position: relative;
  top: 50px;
  z-index: 1;

  font-size: 0; /* Убирает непонятные отступы между фреймами. */
}

.video__iframe {
  margin-right: 20px;
}

.video__iframe:last-of-type {
  margin-right: 0;
}

/* =========
oakley */

.oakley {
  display: flex;
  justify-content: center;

  padding-top: 160px;
  background-color: #f2f2f2;
}

/* =========
digits */

.digits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 100px 0;
}

/* =========
table */

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 9;

  width: 1100px;
  padding: 0;
  margin: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;

  list-style: none;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;

  color: white;
}

.table__heading {
  margin: 0;

  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}

.table__text {
  margin: 20px 0 0 0;

  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

/* =========
feynman */

.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  min-height: 790px;
  padding-top: 80px;

  background-color: #f2f2f2;
}

.feynman__title {
  z-index: 9;

  width: 648px;
  margin: 0;

  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 700;
}

.feynman__subtitle {
  z-index: 9;

  margin: 70px 0 0 0;

  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 9;

  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color:  #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.feynman__link:hover {
  opacity: 0.75;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;

  height: 637px;
  width: 867px;
}

/* =========
khan */

.khan {
  padding-top: 105px;

  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  margin: 0;

  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
}

.khan__title {
  margin: 0;

  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
}

.khan__quote {
  width: 790px;
  margin: 50px 0 0 0;

  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.khan__quote-author {
  margin: 36px 0 0 0;

  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}

.khan__quote-author-subline {
  margin: 10px 0 0 0;

  font-size: 24px;
  line-height: 1.15;
  font-weight: 400;
}

.khan__book-container {
  display: flex;

  margin-top: 68px;
}

.khan__book-pic {
  object-fit: cover;
  object-position: left top;
  height: 608px;
  width: 620px;
  margin-right: 48px;
}

.khan__buy-link {
  height: min-content;

  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  color:  #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.khan__buy-link:hover {
  opacity: 0.75;
}

/* =========
kaufman */

.kaufman {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  padding: 90px 0;

  overflow: hidden;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;

  height: 877px;
  width: 877px;

  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
}

/* =========
resources */

.resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 100px 0 217px;
}

.resources__logo-zone {
  display: flex;

  margin-top: 80px;
  padding-left: 0;
  width: 1100px;
}

.resources__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 38px;
  width: 270px;

  cursor: pointer;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.resources__logo:hover {
  opacity: 0.75;
}

/* =========
footer */

.footer {
  display: flex;
  justify-content: center;

  min-height: 350px;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;

  background-color: #1f1f1f;
  color: #fff;
}

.footer__author {
  margin: 18px 0;

  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.footer__columns {
  display: flex;
  justify-content: space-between;

  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.footer__column-links {
  display: flex;
  flex-direction: column;

  margin: 20px 0 16px;
  padding: 0;
}

.footer__column-link {
  list-style: none;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.footer__column-link:hover {
  opacity: 0.75;
}

.footer__link {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
