.khan__buy-link {
  align-self: flex-start;

  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  color:  #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.khan__buy-link:hover {
  opacity: 0.75;
}
